md-card.section-complete
  md-card-header
    md-card-header-text
      span.md-headline {{ vm.title }}
    md-card-avatar
      md-icon.material-icons(md-colors="{background: 'default-accent-hue-2'}") mode_edit
