div.related-actions
  p.intro(
    layout='column'
    layout-padding,
    md-colors="{background: 'default-background-hue-2'}"
  )
    | If you would like to attend any of the following events 
    | please check the relevant boxes
  
  gz-related-action-input(
    ng-repeat='relatedAction in vm.page.relatedActions',
    action='relatedAction'
  )
