doctype
html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='description', content='To be added')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
  title APF Participant Portal

  //- Disable tap highlight on IE
  meta(name='msapplication-tap-highlight', content='no')

  //- Web Application Manifest
  link(rel='manifest', href='manifest.json')

  //- Add to homescreen for Chrome on Android
  meta(name='mobile-web-app-capable', content='yes')
  meta(name='application-name', content='APF Participant Portal')
  link(rel='icon', sizes='192x192', href='images/touch/chrome-touch-icon-192x192.png')

  //- Add to homescreen for Safari on iOS
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-status-bar-style', content='black')
  meta(name='apple-mobile-web-app-title', content='Web Starter Kit')
  link(rel='apple-touch-icon', href='images/touch/apple-touch-icon.png')

  //- Tile icon for Win8 (144x144 + tile color)
  meta(name='msapplication-TileImage', content='images/touch/ms-touch-icon-144x144-precomposed.png')
  meta(name='msapplication-TileColor', content='#3372DF')

  //- Color the status bar on mobile devices
  meta(name='theme-color', content='#3372DF')
  link(rel='shortcut icon', href='images/favicon.png')

  //- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones
  //- <link rel="canonical" href="http://www.example.com/">

  link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,700')
  link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  link(rel='stylesheet', href='styles/main.css')

body(ng-app='app', ng-cloak)

  div(layout='column', layout-fill)
    a(name='top')
    gz-navbar
    md-content(flex)
      div(ng-view)
    gz-footer

  //- In production use
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js')
  //- script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js')
  //- script(src='https://www.gstatic.com/firebasejs/4.1.3/firebase.js')
  //- script(src='https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js')

  //- platform detection
  script(src='/scripts/lib/platform.js')

  //- main app module
  script(src='/scripts/app.module.js')
  
  //- registration module
  script(src='/scripts/registration/registration.module.js')
  script(src='/scripts/registration/config.route.js')
  script(src='/scripts/registration/registration.controller.js')
  
  //- legacy registration module
  //- script(src='/scripts/registration/registration-legacy.module.js')
  //- script(src='/scripts/registration/config.route.js')
  //- script(src='/scripts/registration/registration-legacy.controller.js')

  //- landing module
  script(src='/scripts/landing/landing.module.js')
  script(src='/scripts/landing/config.route.js')
  script(src='/scripts/landing/landing.controller.js')

  //- core module
  script(src='/scripts/core/core.module.js')
  script(src='/scripts/core/config.js')
  script(src='/scripts/core/account.service.js')
  script(src='/scripts/core/action.service.js')
  script(src='/scripts/core/affiliation.service.js')
  script(src='/scripts/core/contact.service.js')
  script(src='/scripts/core/detection.service.js')
  script(src='/scripts/core/filters.js')
  script(src='/scripts/core/ga.service.js')
  script(src='/scripts/core/participant.service.js')
  script(src='/scripts/core/question.service.js')
  script(src='/scripts/core/response.service.js')
  script(src='/scripts/core/session.service.js')
  script(src='/scripts/core/session_participation.service.js')
  script(src='/scripts/core/user.service.js')
  
  //- form module
  script(src='/scripts/form/form.module.js')
  script(src='/scripts/form/form.service.js')
  script(src='/scripts/form/directives/closed.directive.js')
  script(src='/scripts/form/directives/completeSection.directive.js')
  script(src='/scripts/form/directives/disabledSection.directive.js')
  script(src='/scripts/form/directives/responseInput.directive.js')
  script(src='/scripts/form/directives/section.directive.js')
  script(src='/scripts/form/directives/sectionContact.directive.js')
  script(src='/scripts/form/directives/sectionEmail.directive.js')
  //- script(src='/scripts/form/directives/sectionEnglishSkills.directive.js')
  //- script(src='/scripts/form/directives/sectionExpectations.directive.js')
  //- script(src='/scripts/form/directives/sectionExperience.directive.js')
  //- script(src='/scripts/form/directives/sectionItSkills.directive.js')
  script(src='/scripts/form/directives/sectionOrganisation.directive.js')
  script(src='/scripts/form/directives/sectionPersonal.directive.js')
  //- script(src='/scripts/form/directives/sectionSessions.directive.js')
  script(src='/scripts/form/directives/sessionParticipationInput.directive.js')
  script(src='/scripts/form/directives/sectionEmail.directive.js')
  script(src='/scripts/form/directives/sliderInput.directive.js')

  //- layout module
  script(src='/scripts/layout/layout.module.js')
  script(src='/scripts/layout/layout.service.js')
  script(src='/scripts/layout/directives/actionHero.directive.js')
  script(src='/scripts/layout/directives/footer.directive.js')
  //- script(src='/scripts/layout/directives/hero.directive.js')
  script(src='/scripts/layout/directives/navbar.directive.js')
  script(src='/scripts/layout/directives/supportingText.directive.js')

  //- use this in production
  //- if the uglification is working
  script(src='/scripts/main.min.js')

  //- Google Analytics: change UA-XXXXX-X to be your site's ID
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-1864910-3', 'auto');
    ga('send', 'pageview');
    
