md-card.section-complete(
  md-colors="{background: 'default-accent-hue-2'}"
)
  md-card-header
    //- md-card-avatar
    //-   img(
    //-     ng-src='/images/APF-logo-circle.png',
    //-     alt='Asia Pacific Forum logo'
    //-   )
    md-card-header-text
      span.md-headline {{ vm.title }}
    md-card-avatar
      md-icon.material-icons mode_edit
