md-card(
  md-colors="{background: 'default-background-hue-3'}"
)
  md-card-header
    md-card-avatar
      img(
        ng-src='/images/APF-logo-footer-2x.png',
        alt='Asia Pacific Forum logo'
      )
    md-card-header-text
      span.md-headline {{ vm.title }}
