//- footer
//-   md-content(
//-     layout='row',
//-     layout-padding,
//-     md-colors="{background: 'default-background-hue-3'}"
//-   )
//-     div(flex='30') 
//-       img(
//-         ng-src='/images/APF-logo-footer-2x.png',
//-         alt='Asia Pacific Forum logo'
//-       )
