md-toolbar(md-scroll-shrink)
  .md-toolbar-tools
    md-button.md-icon-button(ng-disabled='true')
      img(
          ng-src='/images/APF-logo-circle-32x32.png',
          alt='Asia Pacific Forum logo'
        )
    h1(flex, md-truncate)
      a(href='/#!/', title='Active Travellers')
        | Training Portal
